In [1]:
# Creating duplicate entries based on inventory items

In [2]:
## import pandas and regex

In [3]:
import pandas as pd

In [4]:
import re

In [5]:
traceExport = pd.read_csv('ordersExport (4).csv', delimiter=',')

In [6]:
display(traceExport)

,id,name,orderDate,customer,shopifyId,total,createdAt,updatedAt,consignerId,storeId,inventories
0,144227,#64848,2023-02-12T11:40:38.000Z,"{""id"":6678992846997,""note"":null,""tags"":"""",""ema...",4887229989013,3899,2023-02-12T11:40:46.049Z,2023-02-12T11:40:46.049Z,NaN,32,"[{""id"":297010,""code"":""I-e6t4ml9onsrt6"",""option..."
1,144222,#64846,2023-02-12T10:17:07.000Z,"{""id"":6584358895765,""note"":null,""tags"":"""",""ema...",4887177920661,3498,2023-02-12T10:17:16.515Z,2023-02-12T10:17:16.515Z,NaN,32,"[{""id"":363101,""code"":""I-1el048mld8qyqru"",""opti..."
2,143818,#64845,2023-02-11T20:37:30.000Z,"{""id"":6688776749205,""note"":null,""tags"":"""",""ema...",4886602612885,6999,2023-02-11T20:37:36.707Z,2023-02-11T20:37:36.707Z,NaN,32,"[{""id"":341613,""code"":""I-4fvzphmlbxov7j5"",""opti..."
3,143777,#64844,2023-02-11T20:10:23.000Z,"{""id"":6688756793493,""note"":null,""tags"":"""",""ema...",4886574563477,3499,2023-02-11T20:10:31.876Z,2023-02-11T20:10:31.876Z,NaN,32,"[{""id"":25760,""code"":""tRIYd2LNgp"",""option1Value..."
4,143579,#64843,2023-02-11T13:35:56.000Z,"{""id"":5258907287701,""note"":null,""tags"":""Uk 10""...",4886193143957,13998,2023-02-11T13:36:04.572Z,2023-02-11T13:36:04.572Z,NaN,32,"[{""id"":364860,""code"":""I-58lz0mldcuonqy"",""optio..."
...,...,...,...,...,...,...,...,...,...,...,...
184,142139,#64594,2023-02-07T15:55:40.000Z,NaN,4880738844821,2799,2023-02-07T15:55:46.300Z,2023-02-07T15:55:46.300Z,NaN,32,"[{""id"":233818,""code"":""I-t3ml6eotjmg"",""option1V..."
185,142138,#64593,2023-02-07T15:55:32.000Z,"{""id"":6675774439573,""note"":null,""tags"":""newsle...",4880738680981,3999,2023-02-07T15:55:39.247Z,2023-02-07T15:55:39.247Z,NaN,32,"[{""id"":296496,""code"":""I-p4kr7ml9ny7lvl"",""optio..."
186,142137,#64592,2023-02-07T15:53:57.000Z,NaN,4880737042581,2999,2023-02-07T15:54:02.845Z,2023-02-07T15:54:02.845Z,NaN,32,"[{""id"":355815,""code"":""I-1wuhtmlcujpkpu"",""optio..."
187,142136,#64591,2023-02-07T15:53:16.000Z,NaN,4880736452757,2999,2023-02-07T15:53:22.719Z,2023-02-07T15:53:22.719Z,NaN,32,"[{""id"":355813,""code"":""I-1wuhtmlcujpkov"",""optio..."
188,142129,#64589,2023-02-07T15:10:03.000Z,"{""id"":6154749837461,""note"":null,""tags"":"""",""ema...",4880695754901,10148,2023-02-07T15:10:09.409Z,2023-02-07T15:10:09.409Z,NaN,32,"[{""id"":354042,""code"":""I-1qnlsmlcrevx3a"",""optio..."

In [7]:
lineItems = pd.DataFrame(columns=['id', 'name', 'customer', 'shopifyId', 'total', 'createdAt', 'updatedAt', 'consignerId', 'storeId','inventories'])

In [8]:
for i in range(len(traceExport)):
    bigstr = traceExport.iloc[i, 10]
    substr = '{"id":\d+,"code"' # finds starting of new entry
    x = re.findall(substr, bigstr)
    loopCount = len(x)
    #print(loopCount)
    
    # put stubs here
    nameStub = traceExport.iloc[i, 1]
    creatStub = traceExport.iloc[i, 6]
    updateStub = traceExport.iloc[i, 7]
    consignStub = traceExport.iloc[i, 3]
    #print(nameStub)
    
    for x in range(loopCount):
        
        # here we get the id
        groupItems = traceExport.iloc[i, 10]
        idstr = '"orderId":\d+,'
        idarr = re.findall(idstr, groupItems)
        #print(idarr)
        idFin = idarr[x][10:16]
        #print(idFin)
        
        # here we get the name
        nameFin = nameStub
        
        
        
        # here we get the shopifyId
        groupItems = traceExport.iloc[i, 10]
        sidstr = '"shopifyId":"\d+",'
        sidarr = re.findall(sidstr, groupItems)
        #print(sidarr)
        try:
            sidFin = sidarr[x][13:27]
        except:
            sidFin = 'null'
        #print(sidFin)
        
        # here we get the total
        groupItems = traceExport.iloc[i, 10]
        totstr = '"price":"\d+"'
        totarr = re.findall(totstr, groupItems)
        #print(totarr)
        totFin = totarr[x][9:13]
        #print(totFin)
        
        # here we get the created at
        creFin = creatStub
        
        # here we get the update at
        updFin = updateStub
        
        # here we get the consignerId
        groupItems = traceExport.iloc[i, 10]
        cidstr = '"consignerId":\d+,'
        cidarr = re.findall(cidstr, groupItems)
        #print(cidarr)
        cidFin = cidarr[x][14:18]
        #print(cidFin)
        
        
        
        
        
        #here we get the customer
        groupItems = traceExport.iloc[i, 10]
        constr = '"consignerId":\d+,'
        conarr = re.findall(constr, groupItems)
        #print(conarr)
        idFin = idarr[x][10:16]
        #print(idFin)
        
        
        
        
        
        
        #TODO
        
        # here we get the storeID
        groupItems = traceExport.iloc[i, 10]
        stostr = '"storeId":\d+,'
        stoarr = re.findall(stostr, groupItems)
        #print(stoarr)
        stoFin = stoarr[x][10:12]
        #print(stoFin)
        
        # here we get the inventory
        groupItems = traceExport.iloc[i, 10]
        invItems = re.split("},{", groupItems)
        #print(len(invItems))
        invFin = invItems[x]
        
        string = invFin
        pattern = '"code":"'
        pattern2 = '"option'
        match1=(re.search(pattern, string))
        #print(match1)
        match2=(re.search(pattern2, string))
        #print(match2)
        
        invFin = invFin[match1.start() + 8 :match2.start() - 1]
        
        entry = [idFin, nameFin, sidFin, totFin, creFin, updFin, cidFin, stoFin, invFin]
        
        temporary_df = pd.DataFrame([entry], columns=['id', 'name', 'shopifyId', 'total', 'createdAt', 'updatedAt', 'consignerId', 'storeId','inventories'])
        #print(temporary_df)
        
        #lineItems = lineItems.append(temporary_df, ignore_index=True)
        
        frames = [lineItems, temporary_df]
  
        lineItems = pd.concat(frames)
#print(lineItems)

In [9]:
display(lineItems)

,id,name,customer,shopifyId,total,createdAt,updatedAt,consignerId,storeId,inventories
0,144227,#64848,NaN,null,3899,2023-02-12T11:40:46.049Z,2023-02-12T11:40:46.049Z,4752,32,"I-e6t4ml9onsrt6"""
0,144222,#64846,NaN,null,3498,2023-02-12T10:17:16.515Z,2023-02-12T10:17:16.515Z,3800,32,"I-1el048mld8qyqru"""
0,143818,#64845,NaN,43121352245397,6999,2023-02-11T20:37:36.707Z,2023-02-11T20:37:36.707Z,3490,32,"I-4fvzphmlbxov7j5"""
0,143777,#64844,NaN,null,3499,2023-02-11T20:10:31.876Z,2023-02-11T20:10:31.876Z,5029,32,"tRIYd2LNgp"""
0,143579,#64843,NaN,43214167212181,7999,2023-02-11T13:36:04.572Z,2023-02-11T13:36:04.572Z,3032,32,"I-58lz0mldcuonqy"""
...,...,...,...,...,...,...,...,...,...,...
0,142138,#64593,NaN,null,3999,2023-02-07T15:55:39.247Z,2023-02-07T15:55:39.247Z,3914,32,"I-p4kr7ml9ny7lvl"""
0,142137,#64592,NaN,null,2999,2023-02-07T15:54:02.845Z,2023-02-07T15:54:02.845Z,4167,32,"I-1wuhtmlcujpkpu"""
0,142136,#64591,NaN,null,2999,2023-02-07T15:53:22.719Z,2023-02-07T15:53:22.719Z,4167,32,"I-1wuhtmlcujpkov"""
0,142129,#64589,NaN,43097844252821,"149""",2023-02-07T15:10:09.409Z,2023-02-07T15:10:09.409Z,5423,32,"I-1qnlsmlcrevx3a"""
0,142129,#64589,NaN,null,9999,2023-02-07T15:10:09.409Z,2023-02-07T15:10:09.409Z,3979,32,"I-doisuml8og1n2l"""

In [10]:
# Load the first CSV file into a DataFrame
df1 = pd.read_csv("inventoryExport (1).csv", low_memory=False)
#df1 = df1[pd.to_numeric(df1.iloc[:, 0], errors='coerce').notnull()]

# Load the second CSV file into a DataFrame
df2 = pd.read_csv("inventoryExport (2).csv", low_memory=False)

# Load the third CSV file into a DataFrame
df3 = pd.read_csv("inventoryExport (3).csv", low_memory=False)

# Load the fourtth CSV file into a DataFrame
df4 = pd.read_csv("inventoryExport (4).csv", low_memory=False)

# Concatenate the DataFrames into a single DataFrame
df_merged = pd.concat([df1, df2, df3, df4])

display(df1)

# Save the merged DataFrame to a new CSV file
df_merged.to_csv("merged_file.csv", index=False)

,id,code,option1Value,option2Value,option3Value,location,price,payout,packingSlip,requestedPrice,...,consigner.ffData,consigner.payoutData,consigner.payoutType,consigner.accountType,consigner.acceptedTOS,consigner.emailNotifications,consigner.createdAt,consigner.updatedAt,consigner.consignerTypeId,consigner.storeId
0,47098,I-73evswml1n86e71,Uk9,New,NaN,Cape Town,1000,825.00,NaN,NaN,...,"{""id"":""f449b3b0-dc86-11e9-abf1-3b4ef565c119"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:52:54.214Z,2022-04-08T18:13:53.181Z,NaN,32
1,59625,I-hlf5ml1q411ei,Uk 4,New,NaN,Cape Town,3499,2886.68,NaN,NaN,...,"{""id"":""97acd580-9097-11eb-add5-85a430011fdb"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:58:19.881Z,2022-03-29T02:58:19.881Z,NaN,32
2,26178,fcTRHcTFM,Uk 9,New,NaN,Cape Town,7999,6599.18,NaN,NaN,...,"{""id"":""104ff560-6629-11eb-bcff-990d1f977410"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:38:39.791Z,2022-03-29T02:38:39.791Z,NaN,32
3,59629,I-hlf5ml1q41203,Uk 4,New,NaN,Cape Town,3499,2886.68,NaN,NaN,...,"{""id"":""97acd580-9097-11eb-add5-85a430011fdb"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:58:19.881Z,2022-03-29T02:58:19.881Z,NaN,32
4,28114,FVaikDBm5,Uk 10.5,New,NaN,Cape Town,7499,6186.68,NaN,NaN,...,"{""id"":""9b514140-ac1f-11ec-b7c1-cfc7505fcef0"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T03:09:16.264Z,2022-08-02T18:49:50.938Z,NaN,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14952,241409,I-1xhph06ml6rot8z3,Uk 11.5,New,NaN,Cape Town,4499,3711.68,NaN,NaN,...,"{""id"":""9ed44b10-e8ad-11e9-b6ab-e935da09b344"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:44:04.611Z,2022-03-29T02:44:04.611Z,NaN,32
14953,377635,I-58l2kldzuewby,Uk 11,New,NaN,Cape Town,13999,11549.18,NaN,NaN,...,NaN,NaN,NaN,Regular,True,"{""onPayout"":true,""onProductSold"":true,""onInven...",2023-02-11T08:41:25.028Z,2023-02-11T08:41:26.840Z,NaN,32
14954,377636,I-9j72jkldzug6jf,Uk 7,Preowned 8/10,NaN,Cape Town,13999,10849.22,NaN,NaN,...,NaN,NaN,NaN,Regular,True,"{""onPayout"":true,""onProductSold"":true,""onInven...",2023-02-11T08:41:25.028Z,2023-02-11T08:41:26.840Z,NaN,32
14955,246666,I-1gqyml70lst9l,Uk 5,New,NaN,Cape Town,3398,2803.35,NaN,NaN,...,"{""id"":""c7c5ce30-2137-11ec-8d2c-d51167d7c291"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:45:31.230Z,2022-03-29T02:45:31.230Z,NaN,32
14956,262158,I-1cz1iiml7lvcahh,Uk 9.5,New,NaN,Cape Town,4299,3546.68,NaN,NaN,...,"{""id"":""38536dc0-f900-11eb-8221-e7159aed4748"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:46:03.173Z,2022-03-29T02:46:03.173Z,NaN,32

C:\Users\Bilal\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\internals\blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

In [11]:
# Search for a specific value in a column
value = "I-1el048mld8qyqru"
search_result = df_merged[df_merged['code'] == value]

# Print the search result
display(search_result)
search_result.to_csv("testsearch.csv", index=False)

,id,code,option1Value,option2Value,option3Value,location,price,payout,packingSlip,requestedPrice,...,consigner.ffData,consigner.payoutData,consigner.payoutType,consigner.accountType,consigner.acceptedTOS,consigner.emailNotifications,consigner.createdAt,consigner.updatedAt,consigner.consignerTypeId,consigner.storeId
13818,363101,I-1el048mld8qyqru,Uk 6,New,NaN,Cape Town,3498.0,2885.85,NaN,NaN,...,"{""id"":""c7c5ce30-2137-11ec-8d2c-d51167d7c291"",""...",NaN,NaN,Regular,True,"{""onProductSold"":true,""onInventoryAccept"":true...",2022-03-29T02:45:31.230Z,2022-03-29T02:45:31.230Z,NaN,32

C:\Users\Bilal\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\internals\blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

In [12]:
df_dict = df_merged.set_index("code")["consigner.email"].to_dict()
#print(df_dict)

In [13]:
shopifyExport = pd.read_csv('daily_sales (1).csv', delimiter=',')
display(shopifyExport)

,Order Number,Order Date,Consignor,Product Title,Variant Title,Barcode,Price,Discount,Selling Price,Commission Rate,Commission Amount,Payout Amount,Fulfillment Status (Line Item),Payment Gateway Names,Location
0,#64850,02-12-2023 16:48,NaN,Nike Dunk Low Prism Pink (2017/2022) (GS),Uk 3.5 / New,I-1fzqml3ev40cb,2799.0,0.0,2799,0.175,489.82,2309.18,unfulfilled,PayJustNow,NaN
1,#64849,02-12-2023 15:56,NaN,Air Force 1 Low White '07,Uk 9 / New,I-11h0fgkldyekpvs,2899.0,0.0,2899,0.175,507.32,2391.68,unfulfilled,PayGate PayWeb,NaN
2,#64848,02-12-2023 13:40,NaN,Nike Dunk Low Essential Paisley Pack Barley (W),Uk 4 / New,I-20ti9ml4qov1uu,3899.0,0.0,3899,0.175,682.32,3216.68,unfulfilled,PayGate PayWeb,NaN
3,#64846,02-12-2023 12:17,NaN,Jordan 1 Low True Blue,Uk 6 / New,I-9lcvmldcv0sk3,3498.0,0.0,3498,0.175,612.15,2885.85,unfulfilled,PayGate PayWeb,NaN
4,#64845,02-11-2023 22:37,NaN,adidas Yeezy Foam RNNR Onyx,Uk 10 / New,I-4fvzphmlbxov7j5,6999.0,0.0,6999,0.175,1224.82,5774.18,unfulfilled,Payflex,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,#64536,02-07-2023 09:34,NaN,Jordan 1 Retro High OG Starfish (W),Uk 9 / New,I-1hhdmfmlbo7sl8c,4999.0,0.0,4999,0.175,874.82,4124.18,unfulfilled,PayGate PayWeb,NaN
284,#64535,02-07-2023 09:33,NaN,Jordan 1 Mid Stealth (W),Uk 5 / New,I-hvg62mlct8eh1g,4997.0,0.0,4997,0.175,874.47,4122.53,fulfilled,PayGate PayWeb,Durban
285,#64533,02-07-2023 05:58,NaN,Jordan 1 Mid True Blue,Uk 10 / New,I-4qc0qkldydov47,4299.0,0.0,4299,0.175,752.32,3546.68,fulfilled,PayGate PayWeb,Cape Town
286,#64532,02-07-2023 02:33,NaN,Yeezy Boost 350 V2 Beluga,Uk 11 / Preowned 7/10,I-1qnlsmlcrjc1ul,4750.0,0.0,4750,0.225,1068.75,3681.25,fulfilled,PayGate PayWeb,Johannesburg
287,#64531,02-07-2023 00:11,NaN,Yeezy Slide Pure,Uk 8 / New,d-mqckLIn,3999.0,0.0,3999,0.175,699.82,3299.18,fulfilled,PayGate PayWeb,Johannesburg

In [14]:
shopifyExport["Consignor"] = shopifyExport["Barcode"].map(df_dict)
display(shopifyExport)
shopifyExport.to_csv("testsheet.csv", index=False)
shopifyExport.to_excel("output.xlsx", index=False)

,Order Number,Order Date,Consignor,Product Title,Variant Title,Barcode,Price,Discount,Selling Price,Commission Rate,Commission Amount,Payout Amount,Fulfillment Status (Line Item),Payment Gateway Names,Location
0,#64850,02-12-2023 16:48,storeaccount@courtorder.co.za,Nike Dunk Low Prism Pink (2017/2022) (GS),Uk 3.5 / New,I-1fzqml3ev40cb,2799.0,0.0,2799,0.175,489.82,2309.18,unfulfilled,PayJustNow,NaN
1,#64849,02-12-2023 15:56,dshalfon23@gmail.com,Air Force 1 Low White '07,Uk 9 / New,I-11h0fgkldyekpvs,2899.0,0.0,2899,0.175,507.32,2391.68,unfulfilled,PayGate PayWeb,NaN
2,#64848,02-12-2023 13:40,oussetedouard@gmail.com,Nike Dunk Low Essential Paisley Pack Barley (W),Uk 4 / New,I-20ti9ml4qov1uu,3899.0,0.0,3899,0.175,682.32,3216.68,unfulfilled,PayGate PayWeb,NaN
3,#64846,02-12-2023 12:17,shaheedgr9@gmail.com,Jordan 1 Low True Blue,Uk 6 / New,I-9lcvmldcv0sk3,3498.0,0.0,3498,0.175,612.15,2885.85,unfulfilled,PayGate PayWeb,NaN
4,#64845,02-11-2023 22:37,01icedcoffee@gmail.com,adidas Yeezy Foam RNNR Onyx,Uk 10 / New,I-4fvzphmlbxov7j5,6999.0,0.0,6999,0.175,1224.82,5774.18,unfulfilled,Payflex,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,#64536,02-07-2023 09:34,arieldayan@gmail.com,Jordan 1 Retro High OG Starfish (W),Uk 9 / New,I-1hhdmfmlbo7sl8c,4999.0,0.0,4999,0.175,874.82,4124.18,unfulfilled,PayGate PayWeb,NaN
284,#64535,02-07-2023 09:33,jameelsujee@gmail.com,Jordan 1 Mid Stealth (W),Uk 5 / New,I-hvg62mlct8eh1g,4997.0,0.0,4997,0.175,874.47,4122.53,fulfilled,PayGate PayWeb,Durban
285,#64533,02-07-2023 05:58,murrayclark82@gmail.com,Jordan 1 Mid True Blue,Uk 10 / New,I-4qc0qkldydov47,4299.0,0.0,4299,0.175,752.32,3546.68,fulfilled,PayGate PayWeb,Cape Town
286,#64532,02-07-2023 02:33,will.ridge@investec.co.za,Yeezy Boost 350 V2 Beluga,Uk 11 / Preowned 7/10,I-1qnlsmlcrjc1ul,4750.0,0.0,4750,0.225,1068.75,3681.25,fulfilled,PayGate PayWeb,Johannesburg
287,#64531,02-07-2023 00:11,lukesneakers101@gmail.com,Yeezy Slide Pure,Uk 8 / New,d-mqckLIn,3999.0,0.0,3999,0.175,699.82,3299.18,fulfilled,PayGate PayWeb,Johannesburg